*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{

}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#header{
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        align-items: center;
        background-color: #fd501b;
        padding: 0 16px;
        height: 46px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
}


#nav{
    display:inline-block;
}

#nav li:hover a{
    background-color: #ccc;
    line-height: 46px;
    color:#000;
}

#nav li a{
    list-style-type: none;
    text-decoration: none;
    color:#fff;
    padding: 16px;
}

#header #nav li{
    display:inline;
    line-height: 46px;
    margin:16px;
}

#header .header-ti-search{
    color:#fff;
    font-size: 20px;
    margin-top: 12px;
}

.search{
    min-width: 400px;
    height: 28px;
}

#header>li:hover{
    color:#000;
}

#header .cart:hover{
    background-color: #ccc;
    cursor:pointer;
}

#header .cart{
    font-size: 20px;
    line-height: 46px;
    list-style-type: none ;
    color:#fff;
    margin-left: auto;
}

#content #menu{
    margin-top: 46px;
    position: relative;
    background-color: #757575;
    line-height: 36px;
    height: 36px;
    padding-left: 12px;
}

#content #content-menu:hover{
    cursor:pointer;
    color:#fff;
}

#menu #content-menu{
    display:inline-block;
}

/* menu và slider  */
/* css menu */
#menu-slider{
    display: grid;
    grid-template-columns: 220px 1fr;
}

#content #sub-menu{
    background-color: #ddd;
    padding-left: 32px;
    padding-top: 16px;
    line-height: 100px;
    /* display:none; */
}

#sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding-right: 16px;
}

#sub-menu li:hover{
    color:#fd501b;
    cursor:pointer;
}

#sub-menu li a{
    text-decoration: none;
    display:inline-block;
    color: inherit;
}

#sub-menu .sub-menu-angle-right{
    margin-left: auto;
}

/* css slider */
#content #slider{
    background-size: cover;
    animation: slide 10s infinite;
    height:320px;
} 

#content #slider {
    background-size: cover;
    height: 320px;
    animation: slide 12s infinite;
}

@keyframes slide {
    /* Ảnh 1 */
    0%, 30% {
        background-image: url('https://bookbuy.vn/Res/Images/Album/8aee647d-753c-47c4-9c0e-c591563ea3d5.jpg?w=880&scale=both&h=320&mode=crop');
        opacity: 1;
    }
    33%, 36% {
        opacity: 0.7;
    }

    /* Ảnh 2 */
    37%, 67% {
        background-image: url('https://bookbuy.vn/Res/Images/Album/1b3b3268-841f-4364-83e9-708f1d321735.jpg?w=880&scale=both&h=320&mode=crop');
        opacity: 1;
    }
    70%, 73% {
        opacity: 0.7;
    }

    /* Ảnh 3 */
    74%, 97% {
        background-image: url('https://bookbuy.vn/Res/Images/Album/503b1bc3-827c-4a57-9a51-b099f4d70104.jpg?w=880&scale=both&h=320&mode=crop');
        opacity: 1;
    }

    /* Trở về ảnh đầu với độ mờ để chuyển mượt */
    98%, 100% {
        opacity: 0.7;
    }
}

    /* truyện tranh */

#comic{
    height:36px;
    background-color: #757575;
    line-height: 36px;
    text-transform: uppercase;
    padding-left: 12px;
    font-weight: bold;
}

#h-comic{
    display:inline-block;
}

.padding{
    height:10px
}

#comic-list{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#comic-list .comic-name{
    font-size: 16px;
    text-align: center;
    float:left;
    margin:  20px;
    display: flex;
    flex-direction: column; /* Sắp xếp các phần tử con theo chiều dọc */
    align-items: center; /* Căn giữa các phần tử theo chiều ngang */
    width:160px;
}

#comic-list h2 {
    font-size: 18px;
}

#comic-list .comic-name a {
    text-decoration: none;
}

#comic-list .comic-name h2:hover, #comic-list .comic-name .comic-img:hover{
    opacity:0.7;
}

#comic-list .comic-name p {
    margin-top: 12px;
}

#comic-list .comic-img{
    width: 160px;
    height:180px;
    margin: 0 20px 12px 20px;

}

.more{
    font-size: 20px;
    text-align: center;
    padding: 16px 0;
}

/* sách VN */

#bookVN{
    height:36px;
    background-color: #757575;
    line-height: 36px;
    text-transform: uppercase;
    padding-left: 12px;
    font-weight: bold;
    padding-top: 50px;
}

#h-bookVN{
    display:inline-block;
}

#h-bookVN:hover {
    color:#fff;
    cursor:pointer;

}

.padding{
    height:10px
}

#bookVN-list{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#bookVN-list .bookVN-name{
    font-size: 16px;
    text-align: center;
    float:left;
    margin:  20px;
    display: flex;
    flex-direction: column; /* Sắp xếp các phần tử con theo chiều dọc */
    align-items: center; /* Căn giữa các phần tử theo chiều ngang */
    width:160px;
}

#bookVN-list h2 {
    font-size: 18px;
}

#bookVN-list .bookVN-name p {
    margin-top: 12px;
}

#bookVN-list .bookVN-img{
    width: 160px;
    height:180px;
    margin: 0 20px 12px 20px;

}

.more{
    font-size: 20px;
    text-align: center;
    padding-top: 16px;
}

/* sách nước ngoài */

#book-foreign{
    height:36px;
    background-color: #757575;
    line-height: 36px;
    text-transform: uppercase;
    padding-left: 12px;
    font-weight: bold;
}

#h-book-foreign{
    display:inline-block;
}

#h-book-foreign:hover {
    color:#fff;
    cursor:pointer;

}

.padding{
    height:10px
}

#book-foreign-list{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#book-foreign-list .book-foreign-name{
    font-size: 16px;
    text-align: center;
    float:left;
    margin:  20px;
    display: flex;
    flex-direction: column; /* Sắp xếp các phần tử con theo chiều dọc */
    align-items: center; /* Căn giữa các phần tử theo chiều ngang */
    width:160px;
}

#book-foreign-list h2 {
    font-size: 18px;
}

#book-foreign-list .book-foreign-name p {
    margin-top: 12px;
}

#book-foreign-list .book-foreign-img{
    width: 160px;
    height:180px;
    margin: 0 20px 12px 20px;

}

.more{
    font-size: 20px;
    text-align: center;
    padding-top: 16px;
}


